@page
@model ProjectsModel
@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/projects/style.css" asp-append-version="true" />

comming soon™️
<!--
<div id="featured-projects">
    <div class="previous-featured-project other-featured-project">
        <div class="seen">
            <img src="file:///C:/Users/DerCoderJo/Documents/Euro%20Truck%20Simulator%202/screenshot/ets2_20250201_095942_00.png" alt="" />

            <div class="project-text">
                <h4>Projekt XYZ</h4>
                <p>Eine kurze Projektbeschreibung von XYZ</p>
            </div>
        </div>
        <div class="seen">
            <img src="file:///C:/Users/DerCoderJo/Documents/Euro%20Truck%20Simulator%202/screenshot/ets2_20250201_095942_00.png" alt="" />

            <div class="project-text">
                <h4>Projekt XYZ</h4>
                <p>Eine kurze Projektbeschreibung von XYZ</p>
            </div>
        </div>
    </div>
    <div class="current-featured-project">
        <img src="file:///C:/Users/DerCoderJo/Documents/Euro%20Truck%20Simulator%202/screenshot/ets2_20250201_095942_00.png" alt="" />

        <div class="project-text">
            <h4>Projekt XYZ</h4>
            <p>Eine kurze Projektbeschreibung von XYZ</p>
        </div>
    </div>
    <div class="next-featured-project other-featured-project">
        <img src="" alt="" />

        <div class="project-text">
            <h4>Projekt XYZ</h4>
            <p>Eine kurze Projektbeschreibung von XYZ</p>
        </div>
    </div>
</div>
-->